name: CI

on:
  push:
  pull_request:

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:6
        ports:
          - 6379:6379

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.17

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Build
        run: go build -v ./

      - name: Build example
        run: cd ./_example && go build -v ./

      - name: Test
        run: go test -v -count=10 ./...
